* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.background-container {
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    width: 80%; /* Adjust the width as needed */
    height: 70%; /* Adjust the height as needed */
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plane-image {
    position: absolute;
    top: 50%;
    transform: translate(10%, -50%) scale(0.8); 
    max-width: 60%; /* Adjust the size of the plane image as needed */
    z-index: 1;
}

.clouds-image {
    box-shadow: 50px 40px 50px rgba(0, 0, 0, 0.5);
}

.paragraphs {
    position: absolute;
    top: 12%;
    right: 26%; /* Adjust the right position as needed */
    color: white; /* Adjust the color as needed */
    text-align: right;
    margin-top: 35px;
}

.paragraphs p {
    padding-top: 7px;
    margin: 0px;
}

.big {
    font-size: 24px; 
    text-align: left;
}

.small {
    font-size: 18px; 
    text-align: right;
}

.background-container img {
    width: 60%; /* Increase the width */
    height: 90%; /* Increase the height */
    object-fit: cover;
    border-radius: 5px; /* Optional: add border radius */
}   

h2 {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

p{
    margin-bottom: 35px;
    font-size: 15px;
}

input[type="text"] {
    width: calc(110% - 22px);
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="text"]:focus{
    outline: none;
    border-color: rgba(54, 83, 186, 0.7); /* Adjust the color and opacity as needed */
    border-width: 3px; /* Adjust the border width as needed */
}

input[type="cnc"],
input[type="sr"] {
    text-align: center;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type="cnc"] {
    width: 45%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #fdfdfd;
    color: black;
    transition: background-color 0.3s;
}

input[type="sr"] {
    width: 45%;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: -1%;
    margin-left: 28px;
    margin-right: -170px; /* Align to the right */
    border: none;
    border-radius: 5px;
    background-color: #2b3284;
    color: #fff;
    transition: background-color 0.3s;
}

input[type="sr"]:hover {
    background-color: #fbfbfb;
    cursor: pointer;
    color: black;
}

input[type="sr"]:active {
    background-color: #fefffd;
}

input[type="cnc"]:hover {
    background-color: #2b3284; /* Adjust color as needed */
    cursor: pointer;
    color: white;
}

